body{
    margin: 0;
    font-family: 'Roboto';
}


.header{
    display: flex;
    justify-content: space-around;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    padding-top: 10px;
}

.header-left{
    font-weight: bold;
    font-size: 24px;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

.header-links{
    display: flex;
    gap: 32px;
    font-size: 18px;
    color: #e5e7eb;

}

.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.hero{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 24px;
    gap: 240px;

}

.hero-title{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-placeholder{
    display: flex;
    align-items: center;
    width: 500px;
    height: 200px;
    background-color: grey;
    color: #F9FAF8;
    justify-content: center;
    margin: 20px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    flex-wrap: wrap;
}

.hero-p {
    padding: 16px;
}